<h1>MyTrack#index</h1>
<p>Find me in app/views/my_track/index.html.erb</p>

<%= react_component('TrackFinder' ,
                    props: {current_user:current_user},
                    prerender: false) %>